*{
  background-color: rgb(1, 0, 1);
}

h1{
  text-align: center;
  color: azure;
}

.maincalc{
  
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: azure;
  margin-top: -130px;
  
}

button{

 
  border-radius: 70%;
  color: azure;
  font-weight: bold;
  width:60px;
  height:60px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #f7bbf8;
}

.op:hover{
  background-color: #a9bffb;
}


#sd{
  font-size:25px ;
  color: azure;
  display:flex;
  justify-content: center;
  flex-direction: row;  
  align-items: center;
  height: 100vh;
  margin-top:-450px;
}